<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add User</h3>
        <md-tooltip md-direction="top">
            Please include Client Code, First and Last <br>name, Email Address, all Address info, <br>and a phone number.  The other fields <br>are not required.  CRM requires ASC <br>approval.  Act-On requires CRM and Email <br>Sending.  Submit multiple users and then <br>Email them all from the main page.</md-tooltip>
    </div>
    <div class="panel-body">
        <div class="row">


                <form ng-submit="addUser()">
                    <div class="col-md-6">
                        <user-getter></user-getter>
                    </div>
                    <div class="col-md-6">
                        <tool-getter></tool-getter>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>

                </form>
            </div>

    </div>
</div>
