<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Tools</h3>
                <md-tooltip md-direction="top">
            Check the box for the tools you wish to <br>add.  Any dependancies will open after <br>you click the tools.  If you are <br>changing access levels please check the <br>box.  Add multiple users by clicking the <br>submit button for each and then send <br>mail them all from the main page.</md-tooltip>
    </div>
    <div class="panel-body">
        <div class="row">

                <form ng-submit="addUser()">
                    <div class="col-md-6">
                        <id-getter></id-getter>
                    </div>
                    <div class="col-md-6">
                        <tool-getter></tool-getter>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </form>
            </div>

    </div>
</div>