<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">ASC Update</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <form ng-submit="addUser()">
                    <div class="col-md-6">
                        <asc-getter></asc-getter>
                    </div>

                    <div class="col-md-6">dsdsfds
                        <asc-details></asc-details>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
