
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">CLink Update Only</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <form ng-submit="addUser()">
                <div class="col-md-12"> <!-- get rid of SCHPIDAH  -->
                    <div class="col-md-12">
                        <clink-update-getter></clink-update-getter>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>

    </div>
</div>
