<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Client Code</label>
                <input class="form-control" type="text" ng-model="oldClientCode" placeholder="Old Client Code">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldClientCode">
                <md-input-container>
                    <label>New Client Code</label>
                    <input name="uClientCode" ng-model="user.uClientCode" placeholder="New Client Code">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old First Name</label>
                <input class="form-control" type="text" ng-model="oldFirstName" placeholder="Old First Name">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldFirstName">
                <md-input-container>
                    <label>New First Name</label>
                    <input name="uFirstName" ng-model="user.uFirstName" placeholder="New First Name">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Last Name</label>
                <input class="form-control" type="text" ng-model="oldLastName" placeholder="Old Last Name">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldLastName">
                <md-input-container>
                    <label>New Last Name</label>
                    <input name="uLastName" ng-model="user.uLastName" placeholder="New Last Name">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Email Address</label>
                <input class="form-control" type="text" ng-model="oldEmailAddress" placeholder="Old Email Address">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldEmailAddress">
                <md-input-container>
                    <label>New Email Address</label>
                    <input name="uEmailAddress" ng-model="user.uEmailAddress" placeholder="New Email Address">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Title</label>
                <input class="form-control" type="text" ng-model="oldTitle" placeholder="Old Title">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldTitle">
                <md-input-container>
                    <label>New Title</label>
                    <input name="uTitle" ng-model="user.uTitle" placeholder="New Title">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Work Address</label>
                <input class="form-control" type="text" ng-model="oldAddressLine1" placeholder="Old Address Line 1">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldAddressLine1">
                <md-input-container>
                    <label>New Work Address</label>
                    <input name="uAddressLine1" ng-model="user.uAddressLine1" placeholder="New Address Line 1">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Address Line 2</label>
                <input class="form-control" type="text" ng-model="oldAddressLine2" placeholder="Old Address Line 2">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldAddressLine2">
                <md-input-container>
                    <label>New Address Line 2</label>
                    <input name="uAddressLine2" ng-model="user.uAddressLine2" placeholder="New Address Line 2">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old City</label>
                <input class="form-control" type="text" ng-model="oldCity" placeholder="Old City">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldCity">
                <md-input-container>
                    <label>New City</label>
                    <input name="uCity" ng-model="user.uCity" placeholder="New City">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old State</label>
                <input class="form-control" type="text" ng-model="oldState" placeholder="Old State">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldState">
                <md-input-container>
                    <label>New State</label>
                    <input name="uState" ng-model="user.uState" placeholder="New State">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Zip</label>
                <input class="form-control" type="text" ng-model="oldZip" placeholder="Old Zip">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldZip">
                <md-input-container>
                    <label>New Zip</label>
                    <input name="uZip" ng-model="user.uZip" placeholder="New Zip">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Work Phone</label>
                <input class="form-control" type="text" ng-model="oldWorkPhone" placeholder="Old Work Phone Number">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldWorkPhone">
                <md-input-container>
                    <label>New Work Phone</label>
                    <input name="uWorkPhone" ng-model="user.uWorkPhone" placeholder="New Work Phone Number">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Fax #</label>
                <input class="form-control" type="text" ng-model="oldFax" placeholder="Old Fax Number">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldFax">
                <md-input-container>
                    <label>New Fax #</label>
                    <input name="uFax" ng-model="user.uFax" placeholder="New Fax Number">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Old Cell #</label>
                <input class="form-control" type="text" ng-model="oldCell" placeholder="Old Cell Number">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="oldCell">
                <md-input-container>
                    <label>New Cell #</label>
                    <input name="uCell" ng-model="user.uCell" placeholder="New Cell Number">
                </md-input-container>
            </div>
        </div>
    </div>
</div>
