<div class="row">
  <div class="col-md-6">
    <img ng-src="assets/images/title.png">
  </div>
  <div class="col-md-6">
    <md-input-container class="md-block">
      <label>Notes</label>
      <textarea ng-model="user.notes" md-maxlength="255" rows="3" md-select-on-focus></textarea>
    </md-input-container>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 notes">
    <strong>Welcome! Feel free to explore the nav-bar links.</strong><br />
    1. Create new users (simply use the New User link in the nav-bar.)<br />
    2. Delete them via the Delete link button in the User Details section.<br />
    3. For this DEMO some Submits are disabled-.<br />
    4. All inputs (radio, checkbox, etc) and validations are functional.
  </div>
  <div class="col-md-2"></div>
</div> -->