<div id="page-footer">
    <div class="row container demo-user">
        <div class="col-md-6 instructions">
            <strong>Welcome! Feel free to explore the nav-bar links.</strong><br />
            1. Create new users (simply use the New User link in the nav-bar.)<br />
            2. Delete them via the Delete link button in the User Details section.<br />
            3. For this DEMO some Submits are disabled.<br />
            4. All inputs (radio, checkbox, etc) and validations are functional.<br />
          </div>
        <div class="col-md-6 notes">
            <strong>Notes:</strong><br />
            Please see README and code at <a href="https://github.com/ZenOfGit/request_app">Git Hub</a> for more info.<br />
            This is a Single Page Application I created to ceritfy and add users to a system.<br />
            Design saves time by authenticating users for certain tools or features.<br />
            Guards against (medical) PHI breeches that would cause severe legal problems.<br />
            This app was created in 2016 with AngularJS and is now outdated!<br />
            UI is AngularJS, API is Node.js, and data is stored via MongoDB.<br />
            <!-- <h3>Please call App Support with any questions - x5710</h3> -->
        </div>
    </div>
</div>