<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.uAllTools" name="removeAll">Remove All
        </md-checkbox>
    </div>
</div>
<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.crmAccess" name="crmAccess">Consumer Marketing <span class="red bold" ng-show="user.crmAccess">Remove</span>
        </md-checkbox>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.mAAccess" name="mAAccess">Marketing Automation <span class="red bold" ng-show="user.mAAccess">Remove</span>
        </md-checkbox>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.emailAccess" name="emailAccess">Email Sending <span class="red bold" ng-show="user.emailAccess">Remove</span>
        </md-checkbox>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.prmAccess" name="prmAccess">PRM (Phys. Mkt. System (WAPF)) <span class="red bold" ng-show="user.prmAccess">Remove</span>
        </md-checkbox>
    </div>
    <div class="form-group">

    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.claimsAccess" name="claimsAccess">Claims (Phys. Mkt. Share and Prof. Ntwk. Profile) <span class="red bold" ng-show="user.claimsAccess">Remove</span>
        </md-checkbox>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.pDC" name="pDC">PDC <span class="red bold" ng-show="user.pDC">Remove</span>
        </md-checkbox>
    </div>
</div>

<div class="form-inline">
    <div class="form-group">
        <md-checkbox class="red" ng-model="user.pAndF" name=pAndF>P and F (Strategic Planning Sys.) <span class="red bold" ng-show="user.pAndF">Remove</span>
        </md-checkbox>
    </div>
</div>
